<div clas="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Register Business Owners</h3>
      </div>

      <div class="card-body">
       <form action="">
        <div class="form-group">
          <label for="">Business Name</label>
          <input [(ngModel)]="businessOwner.businessName" name= "businessName" type="text" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="">First Name</label>
          <input [(ngModel)]="businessOwner.name" name= "name" type="text" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="">Last Name</label>
          <input [(ngModel)]="businessOwner.lastName" name= "lastName" type="text" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="">Uername</label>
          <input [(ngModel)]="businessOwner.username" name= "username" type="text" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="">DNI</label>
          <input [(ngModel)]="businessOwner.dni" name= "dni" type="text" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input [(ngModel)]="businessOwner.email" name= "email" type="text" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input [(ngModel)]="businessOwner.password" name= "password" type="password" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="">Rating</label>
          <input [(ngModel)]="businessOwner.rating" name= "rating" type="text" class="form-control"/>
        </div>
        <button (click)="Register(businessOwner)" class="btn btn-danger">Register</button>
       </form>
      </div>

    </div>
</div>
